ESL_System/bin/Debug/ESL_System.dll
ESL_System/bin/Debug/ESL_System.pdb
ESL_System/obj/Debug/CoreCompileInputs.cache
ESL_System/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ESL_System/obj/Debug/ESL_System.csproj.FileListAbsolute.txt
ESL_System/obj/Debug/ESL_System.csprojResolveAssemblyReference.cache
ESL_System/obj/Debug/ESL_System.dll
ESL_System/obj/Debug/ESL_System.pdb
