ESL_System/bin/Debug/ESL_System.dll
ESL_System/bin/Debug/ESL_System.pdb
ESL_System/obj/Debug/CoreCompileInputs.cache
ESL_System/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ESL_System/obj/Debug/ESL_System.csproj.FileListAbsolute.txt
ESL_System/obj/Debug/ESL_System.csprojResolveAssemblyReference.cache
ESL_System/obj/Debug/ESL_System.dll
ESL_System/obj/Debug/ESL_System.pdb
ESL_System/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ESL_System/obj/Debug/ESL_System.csproj.GenerateResource.Cache
ESL_System_Kcbs_Report/bin/Debug/ESL_System_Kcbs_Report.dll
ESL_System_Kcbs_Report/bin/Debug/ESL_System_Kcbs_Report.pdb
ESL_System_Kcbs_Report/obj/Debug/CoreCompileInputs.cache
ESL_System_Kcbs_Report/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ESL_System_Kcbs_Report/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.ESL_KcbsFinalReportForm.resources
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.Properties.Resources.resources
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.csproj.FileListAbsolute.txt
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.csproj.GenerateResource.Cache
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.csprojResolveAssemblyReference.cache
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.dll
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.pdb
ESL_System_Kcbs_Report/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ESL_System_Kcbs_Report/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ESL_System_Kcbs_Report/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ESL_System_Kcbs_Report/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ESL_System/obj/Debug/ESL_System.SwapAttendStudents.resources
ESL_System/obj/Debug/ESL_System.Properties.Resources.resources
ESL_System/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
