ESL_System/bin/Debug/ESL_System.dll
ESL_System/bin/Debug/ESL_System.pdb
ESL_System/obj/Debug/CoreCompileInputs.cache
ESL_System/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ESL_System/obj/Debug/ESL_System.csproj.FileListAbsolute.txt
ESL_System/obj/Debug/ESL_System.csprojResolveAssemblyReference.cache
ESL_System/obj/Debug/ESL_System.dll
ESL_System/obj/Debug/ESL_System.pdb
ESL_System/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ESL_System/obj/Debug/ESL_System.csproj.GenerateResource.Cache
ESL_System_Kcbs_Report/bin/Debug/ESL_System_Kcbs_Report.dll
ESL_System_Kcbs_Report/bin/Debug/ESL_System_Kcbs_Report.pdb
ESL_System_Kcbs_Report/obj/Debug/CoreCompileInputs.cache
ESL_System_Kcbs_Report/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ESL_System_Kcbs_Report/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.ESL_KcbsFinalReportForm.resources
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.Properties.Resources.resources
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.csproj.FileListAbsolute.txt
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.csproj.GenerateResource.Cache
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.csprojResolveAssemblyReference.cache
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.dll
ESL_System_Kcbs_Report/obj/Debug/ESL_System_Kcbs_Report.pdb
ESL_System_Kcbs_Report/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ESL_System_Kcbs_Report/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ESL_System_Kcbs_Report/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ESL_System_Kcbs_Report/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ESL_System/obj/Debug/ESL_System.SwapAttendStudents.resources
ESL_System/obj/Debug/ESL_System.Properties.Resources.resources
ESL_System/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ESL_System/obj/Debug/ESLSystem.csproj.FileListAbsolute.txt
ESL_System/obj/Debug/ESLSystem.csproj.GenerateResource.Cache
ESL_System/obj/Debug/ESLSystem.csprojResolveAssemblyReference.cache
ESL_System/obj/Debug/ESL_System.Form.PrintESLReportForm.resources
ESL_System/obj/Debug/ESL_System.Form.ESLCourseScoreStatusForm.resources
/ESL_System/obj
/ESL_System/ESLSystem.csproj.user
/ESL_System/bin
ESL_System/.vs/ESL_System.slnx/config/applicationhost.config
ESL_System/.vs/ESL_System.slnx/FileContentIndex/6551b291-9c85-4b3c-878c-fffa657df330.vsidx
ESL_System/.vs/ESL_System.slnx/FileContentIndex/7d6a14ff-ea13-48c8-8364-67461ba4b823.vsidx
ESL_System/.vs/ESL_System.slnx/FileContentIndex/bebf1095-9868-4c43-9129-b84c7358e32e.vsidx
ESL_System/.vs/ESL_System.slnx/FileContentIndex/fb540c8a-c466-4aa4-9fe3-001a22702688.vsidx
ESL_System/.vs/ESL_System.slnx/v18/.wsuo
ESL_System/.vs/ESL_System.slnx/v18/DocumentLayout.backup.json
ESL_System/.vs/ESL_System.slnx/v18/DocumentLayout.json
ESL_System/.vs/ESL_System/CopilotIndices/18.0.988.22099/CodeChunks.db
ESL_System/.vs/ESL_System/CopilotIndices/18.0.988.22099/SemanticSymbols.db
ESL_System/.vs/ProjectSettings.json
ESL_System/.vs/slnx.sqlite
ESL_System/.vs/tasks.vs.json
ESL_System/.vs/VSWorkspaceState.json
ESL_System/.vs/ESLSystem.slnx/FileContentIndex/0e380a11-9269-41b3-982f-1af6fa61e824.vsidx
ESL_System/.vs/ESLSystem.slnx/FileContentIndex/f8477bb8-7bee-4e0a-a540-56373c6c3e69.vsidx
ESL_System/.vs/ESLSystem.slnx/v18/.suo
ESL_System/.vs/ESLSystem.slnx/v18/DocumentLayout.json
